.sidebar {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    /* top: 0; */
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    /* padding-top: 20px; */
  }
  
  
  .profile_cover{
      border-radius: 50%;
      /* background-color: blueviolet; */
      width: 130px;
      height: 130px;
      overflow: hidden;
      border: 5px solid rgb(42, 196, 67);
      
      /* object-fit: contain; */
  }

  .dp{
    object-fit: cover;
    width: 120px;
    height: 120px;
  }

  .post-image{
    object-fit: cover;
    width: 520px;
    /* height: 520px; */
  }


  
  .profile_cover:hover .upload{
      display: block;
  }
  
  .profile_cover:hover .dp{
      opacity: 0.8;
      filter: alpha(opacity=80); /* For IE8 and earlier */
  }
